*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 80vw ;
    height: 60vh;
    background: black;
}

.clip{
     position: absolute;
     
}
